*{
    padding: 0;
    margin: 0;
    color: white;
}

#Navbar{

    width: 100%;
    height: 60px;
    background-color: black;
    
    z-index: 1;
    align-items: center;
    text-align: center;
    
    
}
#amazon{

    position: relative;
    width: max-content;

}

#Navbar #amazon::before{

    content: "";
    width: 0px;
    transition: all 0.5 ease-out;
    


}

#Navbar #amazon:hover::before{

    

    width: 62%;
    height: 3px;
    background: linear-gradient(to right,green, red , blue);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

#account{

    position: relative;
    width: max-content;

}

#Navbar #account::before{

    content: "";
    width: 0px;
    transition: all 0.5 ease-out;
    


}

#Navbar #account:hover::before{

    

    width: 29%;
    height: 3px;
    background: linear-gradient(to right,green ,red , blue);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

#cart{

    position: relative;
    width: max-content;

}

#Navbar #cart::before{

    content: "";
    width: 0px;
    transition: all 0.5 ease-out;
    


}

#Navbar #cart:hover::before{

    

    width: 29%;
    height: 3px;
    background: linear-gradient(to right,green ,red , blue);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

#contact{

    position: relative;
    width: max-content;

}

#Navbar #contact::before{

    content: "";
    width: 0px;
    transition: all 0.5 ease-out;
    


}

#Navbar #contact:hover::before{

    

    width: 35%;
    height: 3px;
    background: linear-gradient(to right,green ,red , blue);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}



.space{

    width: 100%;
    height: 10px;
}
a{
    padding-right: 140px;
    text-decoration: none;
}
button{

    background-color: black;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

#amazon{

    font-size: 25px;
}

.content{

    padding: 6px 0px;
    
    position: relative;
}

.content .div1{

    width: 400px;
    height: 300px;
    
    /* background-color: rgba(12,167,0,0.5); */
    display: inline-block;
    margin-left: 17px;
    
    
   
}

.div11{

    background-image: url(./car1.webp);
    background-position: center;
    position: relative;

}

.div12{

    background-image: url(./car2);
    background-position: center;
    position: relative;
    top: 16px;
    
}
.div13{

    background-image: url(./car3.jpg);
    background-position: center;
    background-size: cover;
    
}
.div12{

    background-image: url(./car2);
    background-position: center;
    background-size: cover;
    
}

.div14{

    background-image: url(./car4.jpg);
    background-position: center;
    background-size: cover;
    
}



.child1{

    width: 400px;
    height: 10px;
    position: absolute;
    background-color:aqua;
    bottom: 0px;
}